@import "global.styl"
@font-face
  font-family: 'happyZcool';
  src url("../happyZcool.ttf")
.swiper-slide
  height: 100vh
  overflow: hidden
.dot
  position:absolute
  right:rem(5)
  top:rem(271)
.my-bullet
  width:rem(10)
  height rem(10)
  background-color: rgba(229, 229, 229, .4)
  border-radius 50%
  display: block
  margin: rem(5)
  cursor pointer
  transition all .3s
.my-bullet-active
  border rem(1) solid #fff
  background-color: #e5e5e5
  opacity .7
slide()
    width rem(23.44)
    height:rem(17.58)
    background url("../images/slide.png") center/cover no-repeat
    animation: webSwipeTipAfter 1.5s infinite ease-in-out;
scroll()
  width rem(362)
  height rem(200)
  background url("../images/scroll.png") center/cover no-repeat
  position absolute
  top rem(369)
  left:rem(8)
//  上一题下一题
btn()
  display flex
  width rem(285)
  height rem(41)
  justify-content: space-between
  position absolute
  top  rem(585)
  left:rem(47)
  .last
    width rem(131)
    height rem(48)
    background url("../images/lastBtn.png") center/cover no-repeat
  .next
    width rem(131)
    height rem(48)
    background url("../images/nextBtn.png") center/cover no-repeat

ul()
  font-size rem(12)
  font-family 'HappyZcool'
  letter-spacing rem(4)
  color: #6b2911
  font-weight 500
  margin rem(36) auto 0
  width rem(280)
  height rem(156)
  li
    list-style none
    display flex
    align-items center
    margin-top rem(12)
    position relative
    input
      width:rem(18)
      height rem(18)
      //display none
      visibility hidden
      margin: 0 rem(14) 0 0

html
  height 100vh
  overflow: hidden
  -webkit-tap-highlight-color: rgba(0,0,0,0);
.swiper-wrapper
  height 100vh
liubeiSlideIn()
     width rem(92)
     height rem(174)
     position absolute
     top rem(210)
     left:rem(235)
     display none
//  首页
.home-ani
  .text-1
    animation-name: wobble;
  .text-2
    animation-name: pulse;
  .text-3
    animation-name: slideDown;
  .text-4
    animation-name: stretchLeft;
  .symbol
    animation-name: slideLeft;
// 第一题
.first-ani
  .sun
    animation-name: sun;
  .bubble
    animation-name: bounceInRight;
    display block !important

  .liubei
    animation-name: bounceInRight;
    display block !important
  .bird
    animation-name: slideLeft;
    display block !important


.second-ani
  .dialogue-1
    animation-name: fadeInLeft;
    display block !important

  .dialogue-2
    animation-name: fadeInLeft;
    display block !important

.third-ani
  .house
    animation-name: pulse;
  .zzz
    animation-name: bounceSmall;
  .liubei
    animation-name: bounceInRight;
    display block !important
.fourth-ani
  .moon
    animation-name: fadeInUp;
    display block !important

.fifth-ani
  .flag
    animation-name: float;



body
  overflow hidden
  width: 100vw
  font-family: 'happyZcool';
  input
    outline none
.swiper-container
  width 100vw
  height: 100vh
  position: relative
.homeWrapper
  width 100vw
  background  #232b7c
  height 100vh
  position: relative
  overflow hidden
  .homePage
    height: rem(614)
    width 100vw
    background url("../images/background-home.png") center/cover no-repeat
    position absolute
    bottom: 0
    left rem(1)
    .next
      background url("../images/beginBtn.png") center/cover no-repeat
      height:rem(51)
      width: rem(200)
      position: absolute
      top: rem(522)
      left: rem(92)
    .text-1
      width: rem(95)
      height: rem(93)
      top: rem(8)
      left: rem(25)
      position: absolute;
      background url("../images/text-1.png") center/cover no-repeat
      //animation-name: wobble;
      animation-iteration-count: 1;
      animation-delay: 0s;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-fill-mode: both;
      animation-play-state: running;
    .text-2
      top: rem(56)
      left: rem(116)
      position: absolute;
      width:rem(60)
      height:rem(63)
      background url("../images/text-2.png") center/cover no-repeat
      animation-iteration-count: 1;
      animation-delay: 0s;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-fill-mode: both;
      animation-play-state: running;
    .text-3
      width: rem(61)
      height: rem(60)
      background url("../images/text-3.png") center/cover no-repeat
      top: rem(107)
      left: rem(48)
      position: absolute;
      animation-iteration-count: 1;
      animation-delay: 0s;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-fill-mode: both;
      animation-play-state: running;
    .text-4
      width: rem(78)
      height: rem(79)
      background url("../images/text-4.png") center/cover no-repeat
      top: rem(140)
      left: rem(98)
      position: absolute;
      animation-iteration-count: 1;
      animation-delay: 0s;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-fill-mode: both;
      animation-play-state: running;
    .symbol
      width: rem(46)
      height: rem(51)
      background url("../images/symbol.png") center/cover no-repeat
      top: rem(192)
      left: rem(145)
      position: absolute;
      animation-iteration-count: 1;
      animation-delay: 0s;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-fill-mode: both;
      animation-play-state: running;
    .slide
      slide()
      position absolute
      left:rem(178)
      top:rem(588)
.first
  width 100vw
  height 100vh
  background url("../images/background-1.png") center/cover no-repeat
  position relative
  .sun
    width rem(55)
    height rem(55)
    background url("../images/sun.png") center/cover no-repeat
    position absolute
    top rem(47)
    right:rem(45)
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-play-state: running;
  .bubble
    width rem(90)
    height rem(84)
    background url("../images/bubble.png") center/cover no-repeat
    position absolute
    top rem(171)
    left:rem(143)
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-play-state: running;
    display none
  .liubei
    liubeiSlideIn()
    background url("../images/liubei.png") center/cover no-repeat
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-play-state: running;
  .bird
    width rem(56)
    height rem(23)
    background url("../images/bird.png") center/cover no-repeat
    position absolute
    top rem(190)
    left:rem(246)
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-play-state: running;
    display none
  .scroll
    scroll()
    ul
      ul()
      .firstCircle
        display flex
        align-items: center
        position absolute
        span
          margin-left rem(28)
        &:before
          content:''
          width:rem(18)
          height rem(18)
          background url("../images/unselect.png") center/contain no-repeat
          position absolute
      input:checked + .firstCircle:before
        background url("../images/selected.png") center/contain no-repeat

  .next
    width rem(131)
    height rem(48)
    background url("../images/nextBtn.png") center/cover no-repeat
    position absolute
    top  rem(585)
    left:rem(122)
  .slide
    slide()
    position absolute
    top  rem(640)
    left:rem(178)
.second
  width 100vw
  height 100vh
  background url("../images/background-2.png") center/cover no-repeat
  position relative
  overflow hidden
  .dialogue-1
    width rem(90)
    height rem(84)
    background url("../images/dialogue-1.png") center/cover no-repeat
    position absolute
    top  rem(125)
    left:rem(179)
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-play-state: running;
    display none
  .dialogue-2
    width rem(103)
    height rem(97)
    background url("../images/dialogue-2.png") center/cover no-repeat
    position absolute
    top  rem(146)
    left:rem(28)
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-play-state: running;
    display none
  .persons
    width rem(245)
    height rem(174)
    background url("../images/person.png") center/cover no-repeat
    position absolute
    top  rem(210)
    left:rem(83)
  .btn
    btn()
  .scroll
    scroll()
    ul
      ul()
      .secondCircle
        display flex
        align-items: center
        position absolute
        span
          margin-left rem(28)
        &:before
           content:''
           width:rem(18)
           height rem(18)
           background url("../images/unselect.png") center/contain no-repeat
           position absolute
      input:checked + .secondCircle:before
        background url("../images/selected.png") center/contain no-repeat

.slide
    slide()
    position absolute
    top  rem(640)
    left:rem(178)
.third
  width 100vw
  height 100vh
  background url("../images/background-3.png") center/cover no-repeat
  position relative
  overflow hidden
  .house
    width:rem(237)
    height rem(242)
    background url("../images/house.png") center/cover no-repeat
    position absolute
    top  rem(154)
    left:0
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-play-state: running;
  .zzz
    width:rem(65)
    height rem(50)
    background url("../images/zzz.png") center/cover no-repeat
    position absolute
    top  rem(175)
    left:rem(158)
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-play-state: running;
  .cat
    width:rem(35)
    height rem(25)
    background url("../images/cat.png") center/cover no-repeat
    position absolute
    top  rem(343)
    left:rem(147)
  .liubei
    liubeiSlideIn()
    background url("../images/liubei-third.png") center/cover no-repeat
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-play-state: running;
  .scroll
    scroll()
    ul
      ul()
      .thirdCircle
        display flex
        align-items: center
        position absolute
        span
          margin-left rem(28)
        &:before
          content:''
          width:rem(18)
          height rem(18)
          background url("../images/unselect.png") center/contain no-repeat
          position absolute
      input:checked + .thirdCircle:before
        background url("../images/selected.png") center/contain no-repeat
  .btn
    btn()
  .slide
    slide()
    position absolute
    top  rem(640)
    left:rem(178)
.fourth
  width 100vw
  height 100vh
  position relative
  background url("../images/background-4.png") center/cover no-repeat
  overflow hidden
  .moon
    width:rem(156)
    height rem(166)
    background url("../images/moon.png") center/cover no-repeat
    position absolute
    top  rem(18)
    left:0
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-duration: 1.9s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-play-state: running;
    display none
  .window
    width:100vw
    height rem(285)
    background url("../images/window.png") center/cover no-repeat
    position absolute
    top  rem(25)
    left:0
  .person
    width:rem(367)
    height rem(247)
    background url("../images/person-fourth.png") center/cover no-repeat
    position absolute
    top  rem(101)
    left:rem(8)
  .scroll
    scroll()
    ul
      ul()
      .fourthCircle
        display flex
        align-items: center
        position absolute
        span
          margin-left rem(28)
        &:before
          content:''
          width:rem(18)
          height rem(18)
          background url("../images/unselect.png") center/contain no-repeat
          position absolute
      input:checked + .fourthCircle:before
        background url("../images/selected.png") center/contain no-repeat
  .btn
    btn()
  .slide
    slide()
    position absolute
    top  rem(640)
    left:rem(178)
.fifth
  width 100vw
  height 100vh
  position relative
  background url("../images/background-5.png") center/cover no-repeat
  overflow hidden
  .flag
    width:rem(178)
    height rem(190)
    background url("../images/flag.png") center/cover no-repeat
    position absolute
    top  rem(166)
    left:rem(198)
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-play-state: running;
  .scroll
    scroll()
    ul
      ul()
      .fifthCircle
        display flex
        align-items: center
        position absolute
        span
          margin-left rem(28)
        &:before
          content:''
          width:rem(18)
          height rem(18)
          background url("../images/unselect.png") center/cover no-repeat
          position absolute
      input:checked + .fifthCircle:before
        background url("../images/selected.png") center/cover no-repeat
  .next
    width rem(131)
    height rem(48)
    background url("../images/resultBtn.png") center/cover no-repeat
    position absolute
    top  rem(585)
    left:rem(122)
  .slide
    slide()
    position absolute
    top  rem(640)
    left:rem(178)
.resultPage
  width 100vw
  height 100vh
  position relative
  background #111980
  overflow hidden
  .video
    width rem(357)
    height rem(344)
    background url("../images/video.png") center/cover no-repeat
    position absolute
    top  rem(25)
    left:rem(5)
    video
      width rem(317)
      height rem(190)
      position absolute
      top  rem(50)
      left:rem(30)
  .video-person
    width rem(50)
    height rem(84)
    background url("../images/video-person.png") center/cover no-repeat
    position absolute
    top  rem(25)
    left:rem(30)
  .result
    width rem(360)
    height rem(270)
    background url("../images/border.png") center/cover no-repeat
    position absolute
    top  rem(295)
    left:rem(15)
    .notFinished
        text-align center
        font-size rem(18)
        color #ffa107
        margin-top rem(130)
  .tag
    width rem(210)
    height rem(79)
    background url("../images/tag.png") center/cover no-repeat
    position absolute
    top  rem(310)
    left: rem(82)
  .resultText
    width rem(140)
    position relative
    top  rem(386)
    left:rem(196)
    font-size rem(12)
    display none
    span
      color #0f1a6c
      font-size rem(12)
      letter-spacing rem(2)
      font-weight 800
    p
      font-size rem(12)
      letter-spacing rem(2)
      color #0f1a6c
      font-weight 600
  .echart
    width rem(180)
    height rem(146)
    position absolute
    top  rem(395)
    left:rem(20)
    display none
  .next
    width:rem(251)
    height:rem(48)
    background url("../images/positionBtn.png") center/cover no-repeat
    position absolute
    top  rem(585)
    left:rem(62)
  .slide
    slide()
    position absolute
    top  rem(645)
    left:rem(178)
.form
  width 100vw
  height 100vh
  font-size 12px
  position: relative
  overflow hidden
  .firstP
    margin: rem(34) 0 rem(16)
  .secondP
    margin: rem(23) 0 rem(16)
  .thirdP
    margin: rem(23) 0 rem(16)
  p
    width rem(373)
    height rem(33)
    background: #0c3094
    font-size:rem(18)
    color white
    line-height:rem(33)
    letter-spacing: rem(4)
    text-indent rem(16)
    vertical-align middle
    margin: rem(34) 0 rem(16)
    font-weight 500
    span
      color #df0604
  input
    width rem(325)
    height rem(38)
    border 1px solid #8598c9
    border-radius 4px
    margin-left rem(26rem)
  .gridWrapper
    width 96%
    margin:auto
    display: grid
    grid-template-columns:48% 48%
    grid-column-gap   4%
    grid-row-gap rem(26)
    justify-items: start;
    grid-template-rows: rem(20) rem(20) rem(20)
    margin-top rem(27)
    .wrapper
      display flex
      align-items: center
    label
      color #0b3190
      font-size rem(17)
      font-weight 500
      position: relative
      display flex
      align-items: center
      &:before
        width:rem(16)
        height:rem(16)
        background url("../images/notCheck.png") center/contain   no-repeat
        position absolute
        content:''
        left rem(-25)
    input
      width:rem(16)
      height:rem(16)
      margin-right  rem(12)
      visibility hidden
      &:checked + label:before
        background url("../images/check.png") center/contain no-repeat
  .submitBtn
    width:rem(332)
    height:rem(42)
    background url("../images/submitBtn.png") center/cover no-repeat
    position absolute
    top  rem(585)
    left:rem(25)
  .mask
    width 100vw
    height 100vh
    position absolute
    top: 0
    left: 0
    background: #000
    opacity .7
    display none
  .successModal
    width:rem(323)
    height:rem(336)
    background url("../images/success.png") center/cover no-repeat
    position absolute
    top rem(110)
    left rem(28)
    display none
    p
      color #4763ac
      font-size rem(17)
      background: none
      margin 0
      text-align center
      width rem(220)
      position relative
      top rem(150)
      left rem(50)
      font-weight 550
    .successConfirmBtn
      width:rem(172)
      height rem(40)
      text-align center
      color #fff
      line-height rem(40)
      position relative
      top rem(200)
      left rem(77)
      background: #4765fd
      letter-spacing rem(4)
      border-radius rem(20)
  .failedModal
    width:rem(323)
    height:rem(336)
    background url("../images/failed.png") center/cover no-repeat
    position absolute
    top rem(110)
    left rem(28)
    display none
    p
      color #e11d3d
      font-size rem(17)
      background: none
      margin 0
      text-align center
      width rem(220)
      position relative
      top rem(150)
      left rem(50)
      font-weight 550
    .failedConfirmBtn
      width:rem(172)
      height rem(40)
      text-align center
      color #fff
      line-height rem(40)
      position relative
      top rem(200)
      left rem(77)
      background: #fd4754
      letter-spacing rem(4)
      border-radius rem(20)



// flag
@keyframes float {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
  25% {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0)
  }
  75% {
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0)
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}
// 月亮
@keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0
  }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1
  }
}

//     zzz
@keyframes bounceSmall {
  0% {
    -webkit-transform: scale(1.7);
    opacity: 0
  }
  50% {
    -webkit-transform: scale(.95);
    opacity: 1
  }
  80% {
    -webkit-transform: scale(1.05)
  }
  90% {
    -webkit-transform: scale(.98)
  }
  to {
    -webkit-transform: scale(1)
  }
}
// 第二题两个对话飘进来
@keyframes fadeInLeft {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0
  }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1
  }
}
//    第二页太阳
@keyframes sun {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
  10%,
  20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate(-3deg);
    transform: scale3d(.9, .9, .9) rotate(-3deg)
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}
//    刘备 气泡
@keyframes bounceInRight {
  0% {
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
    opacity: 0
  }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1
  }
}
//  下页
@keyframes webSwipeTipAfter {
    0% {
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0
}
}
//  感叹号 鸟
@keyframes slideLeft {
  0%,
  60%,
  75%,
  90%,
  to {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0)
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0)
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0)
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0)
  }
  to {
    -webkit-transform: none;
    transform: none
  }
}
// 槽
@keyframes stretchLeft {
  0%,
  40%,
  60%,
  80% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 0
  }
  1% {
    -webkit-transform: scaleX(.3);
    transform: scaleX(.3);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    opacity: 0
  }
  40% {
    -webkit-transform: scaleX(1.02);
    transform: scaleX(1.02);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    opacity: 1
  }
  60% {
    -webkit-transform: scaleX(.98);
    transform: scaleX(.98);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
  }
  80% {
    -webkit-transform: scaleX(1.01);
    transform: scaleX(1.01);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
  }
  99% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
  }
  to {
    -webkit-transform: none;
    transform: none
  }
}
.flipInY {
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-backface-visibility: visible!important;
  backface-visibility: visible!important
}
// 我
@keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate(-5deg);
    transform: translate3d(-25%, 0, 0) rotate(-5deg)
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate(3deg);
    transform: translate3d(20%, 0, 0) rotate(3deg)
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate(-3deg);
    transform: translate3d(-15%, 0, 0) rotate(-3deg)
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate(2deg);
    transform: translate3d(10%, 0, 0) rotate(2deg)
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate(-1deg);
    transform: translate3d(-5%, 0, 0) rotate(-1deg)
  }
  to {
    -webkit-transform: none;
    transform: none
  }
}
// 跳
 @keyframes slideDown {
  0%,
  60%,
  75%,
  90%,
  to {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0)
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0)
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
  }
  to {
    -webkit-transform: none;
    transform: none
  }
}
//   要
@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(0) rotate(0deg);
    transform: translate(0) rotate(0deg)
  }
  2% {
    -webkit-transform: translate(-1px, 3px) rotate(-1.5deg);
    transform: translate(-1px, 3px) rotate(-1.5deg)
  }
  4% {
    -webkit-transform: translate(-4px, 5px) rotate(-1.5deg);
    transform: translate(-4px, 5px) rotate(-1.5deg)
  }
  6% {
    -webkit-transform: translate(-1px, 6px) rotate(-.5deg);
    transform: translate(-1px, 6px) rotate(-.5deg)
  }
  8% {
    -webkit-transform: translate(5px, -4px) rotate(-3.5deg);
    transform: translate(5px, -4px) rotate(-3.5deg)
  }
  10% {
    -webkit-transform: translate(-7px, -3px) rotate(-3.5deg);
    transform: translate(-7px, -3px) rotate(-3.5deg)
  }
  12% {
    -webkit-transform: translate(-1px, 8px) rotate(2.5deg);
    transform: translate(-1px, 8px) rotate(2.5deg)
  }
  14% {
    -webkit-transform: translate(3px, -5px) rotate(-1.5deg);
    transform: translate(3px, -5px) rotate(-1.5deg)
  }
  16% {
    -webkit-transform: translate(1px) rotate(2.5deg);
    transform: translate(1px) rotate(2.5deg)
  }
  18% {
    -webkit-transform: translate(-6px, -10px) rotate(-.5deg);
    transform: translate(-6px, -10px) rotate(-.5deg)
  }
  20% {
    -webkit-transform: translate(3px, -2px) rotate(1.5deg);
    transform: translate(3px, -2px) rotate(1.5deg)
  }
  22% {
    -webkit-transform: translate(0) rotate(-2.5deg);
    transform: translate(0) rotate(-2.5deg)
  }
  24% {
    -webkit-transform: translate(-5px, -4px) rotate(1.5deg);
    transform: translate(-5px, -4px) rotate(1.5deg)
  }
  26% {
    -webkit-transform: translate(-1px, 3px) rotate(-3.5deg);
    transform: translate(-1px, 3px) rotate(-3.5deg)
  }
  28% {
    -webkit-transform: translate(1px, 1px) rotate(-3.5deg);
    transform: translate(1px, 1px) rotate(-3.5deg)
  }
  30% {
    -webkit-transform: translate(-4px, 8px) rotate(1.5deg);
    transform: translate(-4px, 8px) rotate(1.5deg)
  }
  32% {
    -webkit-transform: translate(-9px, 7px) rotate(-3.5deg);
    transform: translate(-9px, 7px) rotate(-3.5deg)
  }
  34% {
    -webkit-transform: translate(4px, -9px) rotate(-2.5deg);
    transform: translate(4px, -9px) rotate(-2.5deg)
  }
  36% {
    -webkit-transform: translate(1px, -6px) rotate(-2.5deg);
    transform: translate(1px, -6px) rotate(-2.5deg)
  }
  38% {
    -webkit-transform: translate(-4px) rotate(-2.5deg);
    transform: translate(-4px) rotate(-2.5deg)
  }
  40% {
    -webkit-transform: translate(3px, -7px) rotate(.5deg);
    transform: translate(3px, -7px) rotate(.5deg)
  }
  42% {
    -webkit-transform: translate(4px, 4px) rotate(-.5deg);
    transform: translate(4px, 4px) rotate(-.5deg)
  }
  44% {
    -webkit-transform: translate(8px, -4px) rotate(-2.5deg);
    transform: translate(8px, -4px) rotate(-2.5deg)
  }
  46% {
    -webkit-transform: translate(9px, 9px) rotate(-3.5deg);
    transform: translate(9px, 9px) rotate(-3.5deg)
  }
  48% {
    -webkit-transform: translate(6px, -8px) rotate(-.5deg);
    transform: translate(6px, -8px) rotate(-.5deg)
  }
  50% {
    -webkit-transform: translate(-1px, 4px) rotate(-3.5deg);
    transform: translate(-1px, 4px) rotate(-3.5deg)
  }
  52% {
    -webkit-transform: translate(4px, 6px) rotate(-1.5deg);
    transform: translate(4px, 6px) rotate(-1.5deg)
  }
  54% {
    -webkit-transform: translate(9px, -3px) rotate(2.5deg);
    transform: translate(9px, -3px) rotate(2.5deg)
  }
  56% {
    -webkit-transform: translate(8px, -2px) rotate(-3.5deg);
    transform: translate(8px, -2px) rotate(-3.5deg)
  }
  58% {
    -webkit-transform: translate(-2px, -9px) rotate(-.5deg);
    transform: translate(-2px, -9px) rotate(-.5deg)
  }
  60% {
    -webkit-transform: translate(-1px, -5px) rotate(2.5deg);
    transform: translate(-1px, -5px) rotate(2.5deg)
  }
  62% {
    -webkit-transform: translate(-8px, 3px) rotate(2.5deg);
    transform: translate(-8px, 3px) rotate(2.5deg)
  }
  64% {
    -webkit-transform: translate(6px, -2px) rotate(-3.5deg);
    transform: translate(6px, -2px) rotate(-3.5deg)
  }
  66% {
    -webkit-transform: translate(-5px, 9px) rotate(-1.5deg);
    transform: translate(-5px, 9px) rotate(-1.5deg)
  }
  68% {
    -webkit-transform: translate(3px, 1px) rotate(-.5deg);
    transform: translate(3px, 1px) rotate(-.5deg)
  }
  70% {
    -webkit-transform: translate(6px, 4px) rotate(-1.5deg);
    transform: translate(6px, 4px) rotate(-1.5deg)
  }
  72% {
    -webkit-transform: translate(-6px, -5px) rotate(1.5deg);
    transform: translate(-6px, -5px) rotate(1.5deg)
  }
  74% {
    -webkit-transform: translate(-8px) rotate(-.5deg);
    transform: translate(-8px) rotate(-.5deg)
  }
  76% {
    -webkit-transform: translate(-5px, -8px) rotate(1.5deg);
    transform: translate(-5px, -8px) rotate(1.5deg)
  }
  78% {
    -webkit-transform: translate(5px, -3px) rotate(-1.5deg);
    transform: translate(5px, -3px) rotate(-1.5deg)
  }
  80% {
    -webkit-transform: translate(-6px, -3px) rotate(-1.5deg);
    transform: translate(-6px, -3px) rotate(-1.5deg)
  }
  82% {
    -webkit-transform: translate(7px, 8px) rotate(-1.5deg);
    transform: translate(7px, 8px) rotate(-1.5deg)
  }
  84% {
    -webkit-transform: translate(-6px, 9px) rotate(.5deg);
    transform: translate(-6px, 9px) rotate(.5deg)
  }
  86% {
    -webkit-transform: translate(1px, 8px) rotate(-3.5deg);
    transform: translate(1px, 8px) rotate(-3.5deg)
  }
  88% {
    -webkit-transform: translate(-9px, -2px) rotate(1.5deg);
    transform: translate(-9px, -2px) rotate(1.5deg)
  }
  90% {
    -webkit-transform: translate(4px, -6px) rotate(-1.5deg);
    transform: translate(4px, -6px) rotate(-1.5deg)
  }
  92% {
    -webkit-transform: translateY(-1px) rotate(.5deg);
    transform: translateY(-1px) rotate(.5deg)
  }
  94% {
    -webkit-transform: translate(2px, -9px) rotate(2.5deg);
    transform: translate(2px, -9px) rotate(2.5deg)
  }
  96% {
    -webkit-transform: translate(-9px, 1px) rotate(-2.5deg);
    transform: translate(-9px, 1px) rotate(-2.5deg)
  }
  98% {
    -webkit-transform: translate(-9px, -5px) rotate(-3.5deg);
    transform: translate(-9px, -5px) rotate(-3.5deg)
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight
}
@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0
  }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1
  }
}
