@import "global.styl"
scroll()
  top rem(340)
liubeiSlideIn()
  top rem(180)
btn()
  top rem(550)
@media screen and (max-height: 676px)
  .homeWrapper
    .homePage
      .text-1
        top: rem(50)
      .text-2 {
        top: rem(98)
      }
      .text-3 {
        top: rem(145)
      }
      .text-4 {
        top: rem(172)
        left rem(105)
      }
      .symbol{
        top:rem(222)
        left:rem(160)
      }
  .first
    .scroll
      scroll()
    .next
      top rem(550)
    .liubei
      liubeiSlideIn()
    .bird
      top rem(160)
    .bubble
      top rem(141)
  .second
    .scroll
      scroll()
    .btn
      btn()
  .third
    .scroll
      scroll()
    .btn
      btn()
    .liubei
      liubeiSlideIn()
  .fourth
    .scroll
      scroll()
    .btn
      btn()
    .moon
      top 0
    .window
      top 0
  .fifth
    .scroll
      scroll()
    .next
      btn()
    .flag
      top rem(106)
  .resultPage
    .result
      top rem(270)
      left rem(22)
    .next
      top rem(550)
    .tag
      top rem(280)
    .echart
      top rem(370)
    .resultText
      top rem(364)
  .form
    .submitBtn
      btn()






//@media screen and (max-height: 736px) {
//  body {
//    background-color:#000;
//  }
//}
