html
    head
        meta(charset='utf-8')
        title hiring
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://cdn.bootcss.com/animate.css/3.7.0/animate.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/Swiper/4.4.6/js/swiper.min.js"></script>
        <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    body
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .homeWrapper(id="homepage")
                        .homePage.home-ani
                            .text-1
                            .text-2
                            .text-3
                            .text-4
                            .symbol
                            .next
                            .slide
                .swiper-slide
                    .first
                        .sun
                        .bubble
                        .liubei
                        .bird
                        .scroll
                            ul
                                li
                                  span 1.你第一次前往南阳拜访时，恰逢诸葛亮出游，不知何时归来，你准备
                                li.selectLi
                                    input(type="radio" name="firstCircle" id="input-1")
                                    label(for="input-1").firstCircle
                                        span A. 在南阳等候诸葛归来
                                li.selectLi
                                    input(type="radio" name="firstCircle" id="input-2")
                                    label(for="input-2").firstCircle
                                        span B. 先行回去歇息，择日再来
                                li.selectLi
                                    input(type="radio" name="firstCircle" id="input-3")
                                    label(for="input-3").firstCircle
                                        span C. 千里马何其多，不差这一个
                        .next
                        .slide
                .swiper-slide
                    .second
                        .dialogue-1
                        .dialogue-2
                        .persons
                        .scroll
                            ul
                                li
                                    span 2.你第二次拜访诸葛亮时，得知诸葛被朋友约走了，你会
                                li.selectLi
                                    input(type="radio" name="secondCircle" id='input-4')
                                    label(for="input-4").secondCircle
                                        span A. 扔下一封书信愤愤离去
                                li.selectLi
                                    input(type="radio" name="secondCircle" id='input-5')
                                    label(for="input-5").secondCircle
                                        span B. 微微一笑，没什么大不了
                                li.selectLi
                                    input(type="radio" name="secondCircle" id='input-6')
                                    label(for="input-6").secondCircle
                                        span C. 拆了诸葛亮的家
                        .btn
                            .last
                            .next
                        .slide
                .swiper-slide
                    .third
                        .house
                        .zzz
                        .cat
                        .liubei
                        .scroll
                            ul
                                li
                                    span 3. 开春之际，你第三次拜访诸葛亮 ，恰逢诸葛亮在睡觉，你会
                                li.selectLi
                                    input(type="radio" name="thirdCircle" id='input-7')
                                    label(for="input-7").thirdCircle
                                        span A. 在门外静静等候先生醒来
                                li.selectLi
                                    input(type="radio" name="thirdCircle" id='input-8')
                                    label(for="input-8").thirdCircle
                                        span B. 破门将其吵醒
                                li.selectLi
                                    input(type="radio" name="thirdCircle" id='input-9')
                                    label(for="input-9").thirdCircle
                                        span C. 找个酒馆，痛饮一场
                        .btn
                            .last
                            .next
                        .slide
                .swiper-slide
                    .fourth
                        .moon
                        .window
                        .person
                        .scroll
                            ul
                                li
                                    span 4.诸葛亮大梦初醒召见你，你会
                                li.selectLi
                                    input(type="radio" name="fourthCircle" id="input-10")
                                    label(for="input-10").fourthCircle
                                        span A. 拜见卧龙先生
                                li.selectLi
                                    input(type="radio" name="fourthCircle" id="input-11")
                                    label(for="input-11").fourthCircle
                                        span B. 真能睡，我腰都站酸了
                                li.selectLi
                                    input(type="radio" name="fourthCircle" id="input-12")
                                    label(for="input-12").fourthCircle
                                        span C. 我的大刀早已饥渴难耐
                        .btn
                            .last
                            .next
                        .slide
                .swiper-slide
                    .fifth
                        .flag
                        .scroll
                            ul
                                li
                                    span 5. 隆中对后，诸葛亮跟着你出山助你，你会
                                li.selectLi
                                    input(type="radio" name="fifthCircle" id="input-13")
                                    label(for="input-13").fifthCircle
                                        span A. 交付蜀国兵权
                                li.selectLi
                                    input(type="radio" name="fifthCircle" id="input-14")
                                    label(for="input-14").fifthCircle
                                        span B. 过度依赖诸葛亮，纸醉金迷
                                li.selectLi
                                    input(type="radio" name="fifthCircle" id="input-15")
                                    label(for="input-15").fifthCircle
                                        span C. 让关羽，张飞和他抬杠
                        .next
                        .slide
                .swiper-slide
                    .resultPage
                        .video
                            video(src="./images/ad.mp4")
                        .result
                        .tag
                        .echart(id="myChart")
                        .resultText
                            span 综合评测：
                            p 滚滚长江东逝水，浪花淘尽英雄。是非成败转头空。青山依旧在，几度夕阳红。白发渔樵江渚上，惯看秋月春风。一壶浊酒喜相逢。古今多少事，都付笑谈中。
                        .next
                        .slide
                .swiper-slide
                    .form
                        p.firstP 1.您的姓名
                           span *
                        input(id="name")
                        p.secondP 2.您的电话
                            span *
                        input(id="phone")
                        p.thirdP 3.您应聘的岗位【多选题】
                            span *
                        .gridWrapper
                            .wrapper
                                <input name="position" type="checkbox" value="见习融资顾问" id="input-16"/>
                                <label for="input-16">见习融资顾问 </label>
                            .wrapper
                                <input name="position" type="checkbox" value="客户经理" id="input-17"/>
                                <label for="input-17">客户经理 </label>
                            .wrapper
                                <input name="position" type="checkbox" value="储备团队经理" id="input-18"/>
                                <label for="input-18">储备团队经理 </label>
                            .wrapper
                                <input name="position" type="checkbox" value="团队经理" id="input-19"/>
                                <label for="input-19">团队经理 </label>
                            .wrapper
                                <input name="position" type="checkbox" value="金融实习生" id="input-20"/>
                                <label for="input-20">金融实习生 </label>
                            .wrapper
                                <input name="position" type="checkbox" value="人事/行政助理" id="input-21"/>
                                <label for="input-21">人事/行政助理 </label>
                        .submitBtn
                        .mask
                        .successModal
                            p 信息提交成功！
                            p 我们的HR将在48小时内联系您
                            .successConfirmBtn 确定
                        .failedModal
                            p 信息提交失败！
                            p(id='repeat') 号码重复
                            .failedConfirmBtn 确定


            .swiper-pagination.dot

