html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title hiring
    body
        .homeWrapper
            .homePage
                .text-1
                .text-2
                .text-3
                .text-4
                .symbol
                .beginBtn
                .slide
        .first
            .sun
            .bubble
            .liubei
            .bird
            .scroll
                ul
                    li
                      h3 1.你第一次前往南阳拜访时，恰逢诸葛亮出游，不知何时归来，你准备
                    li
                         input(name='first' type='radio')
                         span A. 在南阳等候诸葛归来
                    li
                         input(name='first' type='radio')
                         span B. 先行回去歇息，择日再来
                    li
                        input(name='first' type='radio')
                        span B. 先行回去歇息，择日再来
            .nextBtn
            .slide
        .second
            .dialogue-1
            .dialogue-2
            .persons
            .scroll
            .btn
                .last
                .next

